#o-que-fazemos{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
}

.description{
    font-weight: 100;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.title-link{
    font-weight: 100;
    font-size: 0.57rem;
}

.title-section{
    font-weight: 100;
    margin-top: -1rem;
    opacity: 50%;
}

.section-info{
    font-weight: 100;
    margin-top: -1rem;
    opacity: 50%;
}

.section-details{
    font-weight: 100;
    font-size: 0.8rem;
    opacity: 50%;
}

.game-example{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 0.9rem;
    width: 100vw;
}

.game-example-item1{
    margin-left: 0.5rem;
    width: 33%;
}

.bold-text{
    font-weight: bold;
}

.game-example-item1 img{
    width: 100%;
}

.game-example-item2{
    margin-left: 0.5rem;
    width: 33%;
}

.game-example-item2 img{
    width: 100%;
}

.game-example-item3{
    margin: 0 0.5rem;
    width: 33%;
}

.game-example-item3 img{
    width: 100%;
}

.game-example2{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin: 2rem 0;
    width: 50%;
}

.cta-games{
    opacity: 50%;
    margin-right: 1.7rem;
    font-size: 0.8rem;
    transition: transform 0.4s;
}

.cta-games:hover{
    transform: scale(1.3);
}

.cta-games a{
    color: white;
    opacity: 50%;
    text-decoration: none;
}

@media screen and (min-width: 426px){
    #o-que-fazemos{
        flex-direction: row;
        height: 100vh;
        width: 83%;
        float: right;
        margin-top: -5rem;
        margin-bottom: 3rem;
    }
}